<!DOCTYPE html>
<head>
  <title>My first Vue app</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="vue-app">
    {{ message }}
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <div id="hover-app">
    <!-- v- attributes are directives -->
    <!-- v-bind is dynamic binding directive -->
    <span v-bind:title="message">
      Hover over this text
    </span>
    <comp></comp>
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <div id="disappear-app">
    <!-- v-if directive used as a toggle dependent on existence of DOM element -->
    <span v-if="seen">disappearing text</span>
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <div id="loop-app">
    <ol>
      <!-- v-for directive used to loop through list  -->
      <li v-for="obj in list">
        {{ obj.text }}
      </li>
    </ol>
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <div id ="capitalize-app">
    <p> {{ message }}</p>
    <!-- v-on directive used to run function when button is clicked  -->
    <button v-on:click="capitalizeMessage">capitalize message</button>
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <div id="responsive-app">
    <!-- v-model directive for two-way binding between form input and app state -->
    <p> {{ message }}</p>
    <input v-model="message">
  </div>
  <div>
    --------------------------------------------------------------------------------
  </div>
  <script src="apps.js"></script>
</body>
</html>
