html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
}

button {
    background-color: black;
    color: #f45cb4;
    font-size: 32px;
    padding: 8px 16px;
    font-weight: bolder;
}